@font-face{
    font-family: 'Lora';
    font-style: normal;
    src: url('./assets/fonts/Lora/Lora-VariableFont_wght.woff2');
}
@font-face{
    font-family: 'Lora-Italic';
    font-style: italic;
    src: url('./assets/fonts/Lora/Lora-Italic-VariableFont_wght.woff2');
}
@font-face{
    font-family: 'Montserrat';
    font-style: normal;
    src: url('./assets/fonts/Montserrat/Montserrat-VariableFont_wght.woff2');
}
@font-face{
    font-family: 'Montserrat-Italic';
    font-style: italic;
    src: url('./assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.woff2');
}


@font-face{
    font-family: 'Poppins-light';
    font-weight: light;
    font-style: normal;
    src: url('./assets/fonts/Poppins/Poppins-Light.woff2');
}
@font-face{
    font-family: 'Poppins';
    font-style: normal;
    src: url('./assets/fonts/Poppins/Poppins-Regular.woff2');
}
@font-face{
    font-family: 'Poppins-medium';
    font-style: normal;
    src: url('./assets/fonts/Poppins/Poppins-Medium.woff2');
}
@font-face{
    font-family: 'Poppins-bold';
    font-weight: bold;
    font-style: normal;
    src: url('./assets/fonts/Poppins/Poppins-Bold.woff2');
}
@font-face{
    font-family: 'Poppins-extrabold';
    font-style: normal;
    src: url('./assets/fonts/Poppins/Poppins-ExtraBold.woff2');
}

/* For WebKit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(31 17 26 / 1);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(25 18 25 / 1) transparent;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
body{
  scroll-behavior: smooth;
}

.wait-500{
    animation: bounce 1s infinite .350s;
}
.wait-1000{
    animation: bounce 1s infinite .700s;
}
.wait{
    animation: bounce 1s infinite;
}
@keyframes bounce {
    0%, 100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
.inside-shadow{
  box-shadow: rgba(0, 0, 0,.3 ) 0px 20px 30px, 
              inset -5px -5px 15px rgba(0, 0, 0, 0.342),
              inset 5px 5px 15px rgba(255, 255, 255, 0.062);
}