@font-face{
    font-family: 'Lora';
    font-style: normal;
    src: url('./assets/fonts/Lora/Lora-VariableFont_wght.ttf');
}
@font-face{
    font-family: 'Lora-Italic';
    font-style: italic;
    src: url('./assets/fonts/Lora/Lora-Italic-VariableFont_wght.ttf');
}
@font-face{
    font-family: 'Montserrat';
    font-style: normal;
    src: url('./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}
@font-face{
    font-family: 'Montserrat-Italic';
    font-style: italic;
    src: url('./assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
}


@font-face{
    font-family: 'Poppins-light';
    font-weight: light;
    font-style: normal;
    src: url('./assets/fonts/Poppins/Poppins-Light.ttf');
}
@font-face{
    font-family: 'Poppins';
    font-style: normal;
    src: url('./assets/fonts/Poppins/Poppins-Regular.ttf');
}
@font-face{
    font-family: 'Poppins-medium';
    font-style: normal;
    src: url('./assets/fonts/Poppins/Poppins-Medium.ttf');
}
@font-face{
    font-family: 'Poppins-bold';
    font-weight: bold;
    font-style: normal;
    src: url('./assets/fonts/Poppins/Poppins-Bold.ttf');
}
@font-face{
    font-family: 'Poppins-extrabold';
    font-style: normal;
    src: url('./assets/fonts/Poppins/Poppins-ExtraBold.ttf');
}

/* For WebKit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 4px;
  color: #6060ff;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4a5568 #cbd5e0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  scroll-behavior: smooth;
}

.wait-500{
    animation: bounce 1s infinite .350s;
}
.wait-1000{
    animation: bounce 1s infinite .700s;
}
.wait{
    animation: bounce 1s infinite;
}
@keyframes bounce {
    0%, 100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }